<div ng-controller="createDeptCtrl">
    <div ng-if="companyInsertMsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Success!</strong> {{companyInsertMsg}}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <uib-tabset active="activeTab">
        <uib-tab index="0" heading="Department" disable="true">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Add new Department</h3>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <form name="frmAddDept" ng-submit="DeptDone()">
                            <div class="form-group row">
                                <label for="" class="col-form-label col-form-label-sm col-2">Department Name</label>
                                <div class="col-4">
                                    <input name="DeptName"
                                           ng-model="newDept.DepartmentName"
                                           class="form-control form-control-sm"
                                           required />
                                    <div ng-messages="frmAddDept.DeptName.$error"
                                         ng-show="frmAddDept.DeptName.$invalid && !frmAddDept.DeptName.$pristine">
                                        <div class="text-danger" ng-message="required">
                                            Department is requred.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mt-5">
                                <div class="col-6">
                                    <a ng-href="#!/dept"><i class="fa fa-reply"></i> Back to department list</a>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex justify-content-end mr-2">
                                        <button type="submit"
                                                class="btn btn-success btn-sm"
                                                ng-disabled="frmAddDept.$invalid">
                                            Next <i class="fa fa-forward" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </uib-tab>
        <uib-tab index="1" heading="Permanent Staff" disable="true">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Permanent Staff</h2>
                </div>
                <div class="card-body">
                    <div class="card-text">

                        <form name="frmAddPer"
                              ng-submit="perDone(frmAddPer)"
                              novalidate>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Permanent Staff Name</th>
                                        <th>Join Date</th>
                                        <th>Monthly Salary</th>
                                        <th style="width:90px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in permanentStaff">
                                        <td>{{item.PermanentStaffName}}</td>
                                        <td>{{item.JoinDate| date: 'dd-MMM-yyyy'}}</td>
                                        <td>{{item.MonthlySalary| currency}}</td>
                                        <td class="text-center">
                                            <button type="button"
                                                    class="btn btn-danger btn-sm"
                                                    ng-click="perDel($index)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <input name="perName"
                                                   class="form-control form-control-sm"
                                                   ng-model="newPer.PermanentStaffName"
                                                   required />
                                            <div ng-messages="frmAddPer.perName.$error"
                                                 ng-show="frmAddPer.perName.$invalid && !frmAddPer.perName.$pristine">
                                                <div class="text-danger" ng-message="required">
                                                    Permanent Staff Name is requred.
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group row">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <input name="JoinDate"
                                                               ng-model="newPer.JoinDate"
                                                               class="form-control form-control-sm"
                                                                type="date"  required/>        
                                                    </div>

                                                    <div ng-messages="frmAddPer.JoinDate.$error"
                                                         ng-show="frmAddPer.JoinDate.$invalid && !frmAddPer.JoinDate.$pristine">
                                                        <div class="text-danger" ng-message="required">
                                                            Join Date is requred.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group row">
                                                <div class="col">
                                                    <input name="MonthlySalary"
                                                           class="form-control form-control-sm"
                                                           type="number"
                                                           ng-model="newPer.MonthlySalary"
                                                           required />
                                                    <div ng-messages="frmAddPer.MonthlySalary.$error"
                                                         ng-show="frmAddPer.MonthlySalary.$invalid && !frmAddPer.MonthlySalary.$pristine">
                                                        <div class="text-danger" ng-message="required">
                                                            Salary is requred.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <button type="submit"
                                                    class="btn btn-primary btn-sm"
                                                    ng-disabled="frmAddPer.$invalid">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                        <div class="d-flex">
                            <button type="button"
                                    class="btn btn-secondary btn-sm"
                                    ng-click="perPre()">
                                <i class="fa fa-backward" aria-hidden="true"> Previous</i>
                            </button>
                            <span style="flex: auto">&nbsp;</span>
                            <button ng-disabled="permanentStaff.length == 0"
                                    type="button"
                                    class="btn btn-success btn-sm"
                                    ng-click="perNext()">
                                Next <i class="fa fa-forward" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Contactual Staff" disable="true">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Contactual Staff</h2>
                </div>
                <div class="card-body">
                    <div class="card-text">

                        <form name="frmAddCon"
                              ng-submit="conDone(frmAddCon)"
                              novalidate>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Contactual Staff Name</th>
                                        <th>Start Date</th>
                                        <th>Salary</th>
                                        <th style="width:90px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in contactualStaff">
                                        <td>{{item.ContactualStaffName}}</td>
                                        <td>{{item.StartDate| date: 'dd-MMM-yyyy'}}</td>
                                        <td>{{item.WeeklySalary| currency}}</td>
                                        <td class="text-center">
                                            <button type="button"
                                                    class="btn btn-danger btn-sm"
                                                    ng-click="conDel($index)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <input name="conName"
                                                   class="form-control form-control-sm"
                                                   ng-model="newCon.ContactualStaffName"
                                                   required />
                                            <div ng-messages="frmAddCon.conName.$error"
                                                 ng-show="frmAddCon.conName.$invalid && !frmAddCon.conName.$pristine">
                                                <div class="text-danger" ng-message="required">
                                                    Contactual Staff Name is requred.
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group row">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <input name="StartDate"                               
                                                               ng-model="newCon.StartDate"
                                                               class="form-control form-control-sm"
                                                               required
                                                              type="date"/>
                                                    </div>

                                                    <div ng-messages="frmAddCon.StartDate.$error"
                                                         ng-show="frmAddCon.StartDate.$invalid && !frmAddCon.StartDate.$pristine">
                                                        <div class="text-danger" ng-message="required">
                                                            Start Date is requred.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input name="WeeklySalary"
                                                   class="form-control form-control-sm"
                                                   type="number"
                                                   ng-model="newCon.WeeklySalary"
                                                   required />
                                            <div ng-messages="frmAddCon.WeeklySalary.$error"
                                                 ng-show="frmAddCon.WeeklySalary.$invalid && !frmAddCon.WeeklySalary.$pristine">
                                                <div class="text-danger" ng-message="required">
                                                    Salary is requred.
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <button type="submit"
                                                    class="btn btn-primary btn-sm"
                                                    ng-disabled="frmAddCon.$invalid">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                        <div class="d-flex">
                            <button type="button"
                                    class="btn btn-secondary btn-sm"
                                    ng-click="conPre()">
                                <i class="fa fa-backward" aria-hidden="true"> Previous</i>
                            </button>
                            <span style="flex: auto">&nbsp;</span>
                            <button ng-disabled="contactualStaff.length == 0"
                                    type="button"
                                    class="btn btn-primary btn-sm"
                                    ng-click="saveAll([frmAddDept, frmAddPer, frmAddCon])">
                                <i class="fa fa-floppy-o" aria-hidden="true"> Save</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>