<div class="row">
    <div class="col-12">
        <div class="alert alert-warning" ng-if="dataFetchError">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p><strong>Error</strong> resons: {{dataFetchError}}</p>
        </div>
    </div>
</div>

<div class="row" ng-if="model.depts"> 
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-info text-white">
                <div class="row">
                    <div class="col-4"><h3 class="card-title">Departments</h3></div>
                    <div class="col text-right mt-1"><a class="btn btn-primary btn-sm" ng-href="#!/createDept">Add <i class="fa fa-external-link"></i></a></div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <table class="table table-bordered">
                        <thead class="bg-success">
                            <tr>
                                <th></th>
                                <th class="text-center">Id</th>
                                <th class="text-center">Department Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody  ng-repeat="data in model.depts |orderBy: 'department.DepartmentId'|filter: fnDeptFilter">
                            <tr class="text-center" style="background-color:#b9fffc">
                                <td>
                                    <button ng-if="!data.isExpanded" class="btn" ng-click="expandChild($index)"><i class="fa fa-plus"></i></button>
                                    <button ng-if="data.isExpanded" class="btn" ng-click="expandChild($index)"><i class="fa fa-minus"></i></button>
                                </td>
                                <td>{{data.department.DepartmentId}}</td>
                                <td><b>{{data.department.DepartmentName}}</b></td>
                                <td style="width:150px;">
                                    <a class="btn btn-primary btn-sm" href="#!/editDept/{{data.department.DepartmentId}}">Edit <i class="fa fa-external-link"></i></a>
                                    <button class="btn btn-warning btn-sm" ng-click="deleteDept($index)">Del <i class="fa fa-external-link"></i></button>
                                </td>
                            </tr>
                            <tr ng-if="data.isExpanded">
                                <td></td>
                                <td colspan="2">
                                    <h4 class="card-subtitle">Permanent Staffs</h4>
                                    <table class="table table-primary">

                                        <thead>
                                            <tr>

                                                <th>Permanent Staff Name</th>
                                                <th>Join Date</th>
                                                <th>Monthly Salary</th>
                                                <th>
                                                    <a class="btn btn-outline-success btn-sm" ng-href="#!/createPerStaff"><i class="fa fa-plus"></i></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="per in data.department.permanentStaff">
                                                <td>{{per.PermanentStaffName}}</td>
                                                <td>{{per.JoinDate | date: 'dd-MMM-yyyy'}}</td>
                                                <td>{{per.MonthlySalary| currency}}</td>
                                                <td>
                                                    <a class="btn btn-outline-success btn-sm" ng-href="#!/editPerStaff/{{per.PermanentStaffId}}"><i class="fa fa-pencil"></i></a>
                                                    <a class="btn btn-outline-danger btn-sm" ng-click="deletePerStaff(per.DepartmentId,per.PermanentStaffId,$index)"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr ng-if="data.isExpanded">
                                <td></td>
                                <td colspan="2">
                                    <h4 class="card-subtitle">Contactual Staffs</h4>
                                    <table class="table table-primary">
                                        <thead>
                                            <tr>
                                                <th>Contactual Staff Name</th>
                                                <th>Start Date</th>
                                                <th>Weekly Salary</th>
                                                <th>
                                                    <a class="btn btn-outline-success btn-sm" ng-href="#!/createConStaff"><i class="fa fa-plus"></i></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="con in data.department.contactualStaff">
                                                <td>{{con.ContactualStaffName}}</td>
                                                <td>{{con.StartDate | date: 'dd-MMM-yyyy'}}</td>
                                                <td>{{con.WeeklySalary| currency}}</td>
                                                <td>
                                                    <a class="btn btn-outline-success btn-sm" ng-href="#!/editConStaff/{{con.ContactualStaffId}}"><i class="fa fa-pencil"></i></a>
                                                    <a class="btn btn-outline-danger btn-sm" ng-click="deleteConStaff(con.DepartmentId,con.ContactualStaffId,$index)"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
               
            </div>
        </div>
    </div>
</div>

