<div ng-controller="editDeptCtrl">
    <div ng-show="deptEditMsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Data updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card">
        <div class="card-header"><h2 class="card-title">Edit department with staffs</h2></div>
        <div class="card-body">
            <div class="card-text">
                <form name="frmEditDept" id="frmEditDept" ng-submit="editDone(frmEditDept)" novalidate>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-form-label-sm col-2">Department Name</label>
                        <div class="col-4">
                            <textarea name="DeptName"
                                      ng-model="deptToEdit.DepartmentName"
                                      class="form-control form-control-sm"
                                      required></textarea>
                            <div ng-messages="frmEditDept.DeptName.$error"
                                 ng-show="frmEditDept.DeptName.$invalid && !frmEditDept.DeptName.$pristine">
                                <div class="text-danger" ng-message="required">
                                    Department is requred.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mb-1">
                        <h3 class="card-subtitle">Permanent Staff</h3>
                        <span style="flex:auto"></span>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Permanent Staff Name</th>
                                <th>Join Date</th>
                                <th>Monthly Salary</th>
                                <th style="width:90px" class="text-center">
                                    <button type="button" class="btn btn-success btn-sm" ng-click="openAddDeptPerStaffDialog()"><span class="fa fa-plus"></span></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in deptToEdit.permanentStaff">
                                <td>
                                    <input name="PermanentStaffName[{{$index}}]"
                                           class="form-control form-control-sm"
                                           ng-model="item.PermanentStaffName"
                                           required />
                                    <div ng-messages="frmEditDept['PermanentStaffName[' + $index + ']'].$error"
                                         ng-show="frmEditDept['PermanentStaffName[' + $index + ']'].$invalid && !frmEditDept['PermanentStaffName[' + $index + ']'].$pristine">
                                        <div class="text-danger" ng-message="required">
                                            Permanent staff name is requred
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input name="JoinDate[{{$index}}]"
                                           type="date"
                                           class="form-control form-control-sm"
                                           ng-model="item.JoinDate"
                                           required />
                                    <div ng-messages="frmEditDept['JoinDate[' + $index + ']'].$error"
                                         ng-show="frmEditDept['JoinDate[' + $index + ']'].$invalid && !frmEditDept['JoinDate[' + $index + ']'].$pristine">
                                        <div class="text-danger" ng-message="required">
                                            Join date is requred
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input name="MonthlySalary[{{$index}}]"
                                           class="form-control form-control-sm"
                                           type="number"
                                           ng-model="item.MonthlySalary"
                                           required />
                                    <div ng-messages="frmEditDept['MonthlySalary[' + $index + ']'].$error"
                                         ng-show="frmEditDept['MonthlySalary[' + $index + ']'].$invalid && !frmEditDept['MonthlySalary[' + $index + ']'].$pristine">
                                        <div class="text-danger" ng-message="required">
                                            Monthly salary is requred
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <button type="button" ng-click="delDeptPerStaff($index)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex mb-1">
                        <h3 class="card-subtitle">Contactusl Staff</h3>
                        <span style="flex:auto"></span>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Contactual Staff Name</th>
                                <th>Start Date</th>
                                <th>Weekly Salary</th>
                                <th style="width:90px" class="text-center">
                                    <button type="button" class="btn btn-success btn-sm" ng-click="openAddDeptConStaffDialog()"><span class="fa fa-plus"></span></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in deptToEdit.contactualStaff">
                                <td>
                                    <input name="ContactualStaffName[{{$index}}]"
                                           class="form-control form-control-sm"
                                           ng-model="item.ContactualStaffName"
                                           required />
                                    <div ng-messages="frmEditDept['ContactualStaffName[' + $index + ']'].$error"
                                         ng-show="frmEditDept['ContactualStaffName[' + $index + ']'].$invalid && !frmEditDept['ContactualStaffName[' + $index + ']'].$pristine">
                                        <div class="text-danger" ng-message="required">
                                            Contactual staff name is requred.
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input name="StartDate[{{$index}}]"
                                           type="date"
                                           class="form-control form-control-sm"
                                           ng-model="item.StartDate"
                                           required />
                                    <div ng-messages="frmEditDept['StartDate[' + $index + ']'].$error"
                                         ng-show="frmEditDept['StartDate[' + $index + ']'].$invalid && !frmEditDept['StartDate[' + $index + ']'].$pristine">
                                        <div class="text-danger" ng-message="required">
                                            Start date is requred.
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input name="WeeklySalary[{{$index}}]"
                                           class="form-control form-control-sm"
                                           type="number"
                                           ng-model="item.WeeklySalary"
                                           required />
                                    <div ng-messages="frmEditDept['WeeklySalary[' + $index + ']'].$error"
                                         ng-show="frmEditDept['WeeklySalary[' + $index + ']'].$invalid && !frmEditDept['WeeklySalary[' + $index + ']'].$pristine">
                                        <div class="text-danger" ng-message="required">
                                            Weekly salary is requred.
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <button type="button" ng-click="delDeptConStaff($index)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex align-items-baseline">
                <a ng-href="#!/dept"><i class="fa fa-reply" aria-hidden="true"></i> Back to department list</a>
                <span style="flex:auto"></span>
                <button type="submit" class="btn btn-success btn-sm" ng-disabled="frmEditDept.$invalid" form="frmEditDept">Update <i class="fa fa-retweet" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <!-- Permanent Modal -->
    <div class="modal fade" id="addDeptPerStaffModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Permanent Staff New</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="frmAddDeptPerStaff" id="frmAddDeptPerStaff" ng-submit="AddPerStaffToDept(frmAddDeptPerStaff)" novalidate>

                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">Permanent Staff Name</label>
                            <input name="permanentStaffName"
                                   class="form-control form-control-sm"
                                   ng-model="newDeptPerStaff.PermanentStaffName"
                                   required />
                            <div ng-messages="frmAddDeptPerStaff.permanentStaffName.$error"
                                 ng-show="frmAddDeptPerStaff.permanentStaffName.$invalid && !frmAddDeptPerStaff.permanentStaffName.$pristine">
                                <div class="text-danger" ng-message="required">
                                    This field is requred
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">Join Date</label>
                            <input name="joinDate"
                                   ng-model="newDeptPerStaff.JoinDate"
                                   class="form-control form-control-sm"
                                   type="date" required />
                            <div ng-messages="frmAddDeptPerStaff.joinDate.$error"
                                 ng-show="frmAddDeptPerStaff.joinDate.$invalid && !frmAddDeptPerStaff.joinDate.$pristine">
                                <div class="text-danger" ng-message="required">
                                    Join Date is requred.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">Monthly Salary</label>
                            <input name="monthlySalary"
                                   class="form-control form-control-sm"
                                   type="number"
                                   ng-model="newDeptPerStaff.MonthlySalary"
                                   required />
                            <div ng-messages="frmAddDeptPerStaff.monthlySalary.$error"
                                 ng-show="frmAddDeptPerStaff.monthlySalary.$invalid && !frmAddDeptPerStaff.monthlySalary.$pristine">
                                <div class="text-danger" ng-message="required">
                                    Salary is requred.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fa fa-close"></i></button>
                    <button type="submit" class="btn btn-success btn-sm" form="frmAddDeptPerStaff" ng-disabled="frmAddDeptPerStaff.$invalid"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Contactual Modal -->
    <div class="modal fade" id="addDeptConStaffModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Contactual Staff New</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="frmAddDeptConStaff" id="frmAddDeptConStaff" ng-submit="AddConStaffToDept(frmAddDeptConStaff)" novalidate>

                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">Contactual Staff Name</label>
                            <input name="contactualStaffName"
                                   class="form-control form-control-sm"
                                   ng-model="newDeptConStaff.ContactualStaffName"
                                   required />
                            <div ng-messages="frmAddDeptConStaff.contactualStaffName.$error"
                                 ng-show="frmAddDeptConStaff.contactualStaffName.$invalid && !frmAddDeptConStaff.contactualStaffName.$pristine">
                                <div class="text-danger" ng-message="required">
                                    This field is requred
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">Start Date</label>
                            <input name="startDate"
                                   ng-model="newDeptConStaff.StartDate"
                                   class="form-control form-control-sm"
                                   type="date" required />
                            <div ng-messages="frmAddDeptConStaff.startDate.$error"
                                 ng-show="frmAddDeptConStaff.startDate.$invalid && !frmAddDeptConStaff.startDate.$pristine">
                                <div class="text-danger" ng-message="required">
                                    Join Date is requred.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">Weekly Salary</label>
                            <input name="weeklySalary"
                                   class="form-control form-control-sm"
                                   type="number"
                                   ng-model="newDeptConStaff.WeeklySalary"
                                   required />
                            <div ng-messages="frmAddDeptConStaff.weeklySalary.$error"
                                 ng-show="frmAddDeptConStaff.weeklySalary.$invalid && !frmAddDeptConStaff.weeklySalary.$pristine">
                                <div class="text-danger" ng-message="required">
                                    Salary is requred.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fa fa-close"></i></button>
                    <button type="submit" class="btn btn-success btn-sm" form="frmAddDeptConStaff" ng-disabled="frmAddDeptConStaff.$invalid"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

